body {
    font-family: sans-serif;
}

.container {
    display: flex;
    margin: 20px;
}

.section {
    margin-right: 20px;
    width: 500px;
}

#section1 {
    border: 1px solid #fcf8e3;
}

#section2 {
    border: 1px solid #dff0d8;
}

#section3 {
    border: 1px solid #d9edf7;
}

.subheader {
    display: flex;
    background-color: #cccccc;
    padding: 5px;

}

.table-header {
    padding: 5px;
}

.table-header-title {
    font-size: 12px;
    font-weight: bold;
}

#table-header1 {
    background-color: #fcf8e3;
}

#table-header2 {
    background-color: #dff0d8;
}

#table-header3 {
    background-color: #d9edf7;
}

.button {
    color: white;
    padding: 10px 75px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0px;
    cursor: pointer;
}

#b1 {
    background-color: #d9534f;
}

#b2 {
    background-color: #f0ad4e;
}

#b3 {
    background-color: #337ab7;
}

#b4 {
    background-color: #5cb85c;
}

#b5 {
    background-color: #5bc0de;
}

#b6 {
    background-color: #222222;
}

.table-container {
    margin-bottom: 30px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #cccccc;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}
.hr{
    background-color: orange;
    height: 20px;
}
